<!doctype html>
<html lang="en">
    <!doctype html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>


        <form class="ui form" action="/add" enctype="multipart/form-data" method="POST"> 
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>

            <div class="ui input" >
                <input type="file" name="pic"  style="float:left;"><br>
            </div>

            <button class="ui blue button" style="float: right;" type="submit">Add</button>
        </form>> 

        <hr>

        {% for todo in todolist.items %}
        <div class="ui segment">
            <p class="ui big header">{{todo.id }} | {{ todo.title }} | {{ todo.created_at.year }}| {{ todo.created_at.month }}| {{ todo.created_at.day }}</p>

            {% if todo.complete == False %}
            <span class="btn btn-success" style="background-color: gray;" role="button">Not Complete</span>
            {% else %}
            <span class="btn btn-success"style="background-color: green;"  role="button">Completed</span>
            {% endif %}

            <a class="btn btn-success" href="/update/{{ todo.id }}" role="button">Update</a>
          
            <a class="btn btn-danger" href="/delete/{{ todo.id }}" role="button">Delete</a>
            <a class="btn btn-secondary" href="/download/{{ todo.id }}" role="button">Download</a>
            


        {% endfor %}

        <div  class="row mt-4">
        <div  class="col text-center">
            <ul class="pagination">
            {% if todolist.has_prev %}
           
           <li class="page-item"><a class="page-link" href="{{url_for('home', page=todolist.prev_num)}}"class="btn btn-sm btn-outline-info">previus</a></li>
            {% endif %}
            {% for page_num in todolist.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if todolist.page == page_num %}

                <li class="page-item"><a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% else %}
                ...
                {% endif %}
            {% endfor %}
            {% if todolist.has_next %}
            <li class="page-item"><a class="page-link"  href="{{url_for('home', page=todolist.next_num)}}"class="btn btn-sm btn-outline-info">next</a></li>
            {% endif %}
        </ul>
        </div>
    </div> 

    
    </div>

    </div>


  </body>
</html>